.container-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    gap: 10px;
}

.found-list {
    margin: 0 auto;
}

.welcome {
    font-size: 24px;
}

.reset-buttn {
    padding: 5px 5px;
    background-color: #359dff;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 12px;
    border-radius: 5px;
    margin: 0 auto;
}

.reset-buttn:hover {
    background-color: #aa0000;
}