body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #505050;
}

.check {
    font-size: 24px;
}

.reset-buttn {
    padding: 5px 10px;
    background-color: #359dff;
    color: white;
    cursor: pointer;
    font-size: 12px;
    border-radius: 5px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.reset-buttn:hover {
    background-color: #aa0000;
}